/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding: 50px 0 20px 0;
  background-color:#EEE;
  background-image:url("/image/theme/black-hexagonal.jpg");
  background-size:100%;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
}

.navbar {
    box-shadow: 0 5px 4px -6px #000;
}

.navlogo {
    background-image: url("/images/app-logo-small.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 16px;
    width: 150px;
    margin-right: 12px;
}

.navbar li{
    font-weight:bold;
}

.section-header{
    background-color:rgba(0,0,0,0.9);
    padding:8px 0 24px 24px;
}

.section-heading{
    color:white;
    font-size:1.3em;
    font-family:"Playfair";
    padding: 16px 0 16px 0;
    border-bottom:1px solid #335;
    margin-bottom:12px;
}

.post-heading {
    color: white;
    font-size: 1.1em;
    font-family: "Playfair";
    padding: 16px 0 16px 0;
}

.section-info{
    height:400px;
    background-color:white;
}

.front-page-splash{
    background-image:url("../images/theme/front-splash.png");
    background-repeat:no-repeat;
    background-position:right;
}

.front-page-learn{
    font-family:"Playfair";
    padding:12px 0 0 32px;
    height:360px;
}

.section-description{
    color:#EEE;
}

.front-page-heading{
    font-size:3.2em;
    margin:16px 0;
}

.front-page-subheading{
    font-size:2em;
}

.front-page-top-container{
    padding:40px 80px 42px 40px;
    border:1px solid #999;
    background-color:#2569D5;
    font-family:"Playfair";
}

.home-search{
    width:100%;
    margin-top:8px;
    background:rgba(0,0,0,0.1);
    padding:8px;
    border:0px;
    height:2.3em;
    font-size:2.1em;
    font-family:"Playfair";
    font-weight:bold;
    transition:ease-in 0.2s;
}

.home-search:focus{
    border:none !important;
    outline:none !important;
    transition:ease-in 0.2s;
    color:#03A9F4;
    background-color:rgba(0,0,0,0.7);
    box-shadow:0 5px 4px -6px #000;
}

.front-page-content{
    background-color:rgba(255,255,255,0.9);
    padding:16px;
}

#latest-posts{
    font-size:1.2em;
    font-weight:bold;
    color:#333;
    margin:4px 0 16px 0;
}

.post-title{
    font-family:"Playfair";
    font-weight:bold;
}

.post-sub-title{
    color:#888;
    font-family:"Playfair";
    font-size:0.8em;
}

.post-data{
    display:inline-block;
}

.post-date{
    display:inline-block;
}

.post-logo{
    display:inline-block;
    border-radius:3px;
    margin-right:20px;
    height:40px;
    width:40px;
    background-color:#ddd;
}

#forum-index-table td{
    background-color:rgba(255,255,255,0.9);
}

#forum-index-table tr:hover{
    background-color:rgba(0,116,238,1);
}

.forum-data{
    display:inline-block;
}

.forum-title {
    font-family: "Playfair";
    font-weight:bold;
    font-size:1.1em;
}

.forum-subtitle {
    color: #888;
    font-family: "Playfair";
    font-size:0.8em;
}

.forum-description {
    color: #555;
    font-family: "Playfair";
}

.forum-logo{
    border-radius:3px;
    float:left;
    margin-right:20px;
    height:40px;
    width:40px;
    background-color:#ddd;
    border:1px solid #555;
    background-size:100%;
}

.forum-post-count {
    color: #888;
    font-family: "Playfair";
    font-size:0.9em;
}

.forum-post-count {
    color: #888;
    font-family: "Playfair";
    font-size:0.9em;
}

.forum-member-count {
    color: #888;
    font-family: "Playfair";
    font-size:0.9em;
}

.font-index-content{
    padding-bottom:60px;
    background-color:white;
}

.no-post {
    text-align: center;
    padding-top: 30px;
    font-family: "Playfair";
}

.create-post-section{
    background-color:#fff;
    padding:24px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
