<!--Footer-->
@*<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.Now.Year - TomarForum - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>*@

<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="footer-about col-md-4 col-lg-4 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <img class="logo-footer" src="/img/logo.png" alt="logo" data-at2x="assets/img/logo.png">
                    <p>
                        Thank you for visiting our website.
                    </p>
                </div>
                <div class="footer-contact col-md-4 col-lg-4 offset-lg-1 wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                    <h3>Contact</h3>
                    <p><i class="fas fa-map-marker-alt"></i> Arsuz 31225, Hatay TURKEY</p>
                    <p><i class="fas fa-phone"></i> Phone: (0090) 549 268 1421</p></li>
                    <p><i class="fas fa-envelope"></i> Email: <a href="mailto:metekaba96@gmail.com">metekaba96@gmail.com</a></p>
                    <p><i class="fab fa-skype"></i> Skype: live:metekaba</p>
                </div>
                <div class="footer-social col-md-4 col-lg-3 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
                    <h3>Follow us</h3>
                    <p>
                        <a href="https://www.instagram.com/metekaba/?hl=en"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/mete-kaba-89b5221b8/"><i class="fab fa-linkedin"></i></a>
                        <a href="https://github.com/MeteK7"><i class="fab fa-github"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-5 footer-copyright">
                    <p>&copy; @DateTime.Now.Year - TomarForum - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>