@using Microsoft.AspNetCore.Identity
@inject UserManager<TomarForumData.EntityModels.ApplicationUser> UserManager
@inject SignInManager<TomarForumData.EntityModels.ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TomarForum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/home-slideshow.css" rel="stylesheet" />
    <link href="~/css/site-footer.css" rel="stylesheet" />
    <link href="~/css/login-page.css" rel="stylesheet" />
    <link href="~/css/register-page.css" rel="stylesheet" />
    <link href="~/css/post-page.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/media-queries.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    @*<link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>*@
</head>
<body>
    <!-- Header -->
    @await Component.InvokeAsync("Header")

    <!-- Body -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--Footer-->
    @await Component.InvokeAsync("Footer")

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/home-slideshow.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Head", required: false)
</body>
</html>
