@using Microsoft.AspNetCore.Identity
@using TomarForumData.EntityModels
@inject UserManager<ApplicationUser> UserManager

<nav class="sb-sidenav accordion nav-admin-side" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <a class="nav-link" asp-controller="Admin" asp-action="Index">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a>
            <a class="nav-link" asp-controller="Admin" asp-action="AllPostsOfUser">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Posts
            </a>
            <a class="nav-link" asp-controller="Admin" asp-action="EditUserProfile">
                <div class="sb-nav-link-icon"><i class="fas fa-user-edit"></i></div>
                Edit Profile
            </a>
            <a class="nav-link" asp-controller="Post" asp-action="Create">
                <div class="sb-nav-link-icon"><i class="fas fa-pen"></i></div>
                Create a Post
            </a>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        @($"{(await UserManager.GetUserAsync(User)).UserName}")
    </div>
</nav>