@using Microsoft.AspNetCore.Identity
@inject UserManager<TomarForumData.EntityModels.ApplicationUser> UserManager
@inject SignInManager<TomarForumData.EntityModels.ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TomarForum</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TomarForum</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Forum" asp-action="Index">Forums</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li role="separator" class="divider"></li>
                                    <li class="dropdown-header">Profile</li>
                                    <li><a asp-controller="Profile" asp-action="Detail" asp-route-id="@UserManager.GetUserId(User)">My Profile</a></li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li role="separator" class="divider"></li>
                                        <li class="dropdown-header">Admin</li>
                                        <li><a asp-controller="Forum" asp-action="Create">Create Forum</a></li>
                                        <li><a asp-controller="Profile" asp-action="Index">View Users</a></li>
                                    }
                                </ul>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    @if (!SignInManager.IsSignedIn(User))//THIS PART IS ALREADY IN THE _LoginPartial view!!!
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a asp-controller="Login" asp-action="Login">Sign In</a></li>
                            <li class="active"><a asp-controller="Register" asp-action="Register">Register</a></li>
                        </ul>
                    }
                    @if (SignInManager.IsSignedIn(User))//Where is elseif???
                    {
                        <form asp-controller="Logout" asp-action="Logout" method="post" id="form-logout" class="navbar">
                            <ul class="nav navbar-nav navbar-right">
                                <li>Hello, @UserManager.GetUserName(User)</li>
                                <li><button type="submit" class="btn btn-link btn-navbar navbar-link">Sign Out</button></li>
                            </ul>
                        </form>
                    }

                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - TomarForum - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
