@model TomarForumViewModel.HomeViewModels.HomeContactViewModel

@{
    ViewData["HeaderImage"] = $"../../img/contact-me.jpg";
    ViewData["HeaderTitle"] = "Contact Me";
    ViewData["SubHeader"] = "Feel free to contact me :)";
}

<div class="div-contact-form">
    <div class="col-md-5">
        <form asp-action="SendEmail" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col">
                    <label asp-for="GuestFirstName" class="control-label"></label>
                    <input asp-for="GuestFirstName" class="form-control" required type="text" data-val="true" data-val-required="Name field is required." />
                </div>
                <div class="col">
                    <label asp-for="GuestLastName" class="control-label"></label>
                    <input asp-for="GuestLastName" class="form-control" required type="text" data-val="true" data-val-required="Surname field is required." />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="GuestPhoneNumber" class="control-label"></label>
                <input asp-for="GuestPhoneNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="GuestEmailAddress" class="control-label"></label>
                <input asp-for="GuestEmailAddress" class="form-control" required type="text" data-val="true" data-val-required="Email field is required." />
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" required type="text" data-val="true" data-val-required="Subject field is required." />
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <textarea asp-for="Body" class="form-control" rows="7" cols="15" required type="text" data-val="true" data-val-required="Body field is required."></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Attachment" class="control-label"></label>
                <input asp-for="Attachment" type="file" class="form-control" multiple />
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
            <h5>@ViewBag.Message</h5>
        </form>
    </div>
</div>