body {
}
.div-contact-form {
    display: flex;
    justify-content: center;
    padding-top: 4%;
    padding-bottom: 4%;
    background-image: url('../../img/telephone.jpg');
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}